@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/vintage';

/* Tema escuro baseado em data-attributes */
:root [data-mode="dark"] {
  color-scheme: dark;
}

html, body {
  @apply h-full overflow-hidden;
}
